@font-face {
    font-family: panton;
    src: url('../font/Helvetica%20CE%20Regular.ttf');
    font-size: 1em;}
@font-face {
    font-family: classic;
    src: url('../font/Helvetica%20CE%20Regular.ttf');
}
@font-face {
    font-family: published;
    src: url('../font/Helvetica%20CE%20Regular.ttf');
}
h2{
    font-family: classic;
}
a{
    font-family: classic;
}
.text{
    font-family: panton;
}
.font_classic{
    font-family: classic;
}
.font_panton{
    font-family: panton;
}
.font_merri{
    font-family: published;
}
h6 {
    font-family: published;
}

input[placeholder]{
    font-family: published;
}
button[value]{
    font-family: published;
}